/* global */
:root {
    /* colors */
    --gray-1-100: rgba(98, 101, 136, 1);
    --gray-2-100: rgba(206, 207, 239, 1);
    --light-blue-100: rgba(238, 243, 254, 1);
    --blue-100: rgba(92, 134, 242, 1);
    --primary-100: rgba(38, 40, 55, 1);
    --light-50: rgba(247, 247, 250, 0.5);
    --border-100: rgba(232, 239, 246, 1);

    /* checkbox border */
    --checkbox-gray-100: rgba(218, 218, 218, 1);
    --checkbox-gray-hover: rgba(197, 199, 218, 1);

    /* task states */
    --red-100: rgba(230, 50, 65, 1);
    --green-100: rgba(88, 172, 131, 1);
    --gray-3-100: rgba(217, 217, 217, 1);
    
    /* input border */
    --gray-4-100: rgba(227, 236, 243, 1);

    /* cross inActive */
    --gray-5-54: rgba(0, 0, 0, 0.54);
    /* /colors */
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    line-height: 1.172;
    color: var(--primary-100);
    background-color: var(--light-50);
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* checkbox */

    input[type='checkbox'] {
        appearance: none;
        position: relative;
        cursor: pointer;
        width: 14px;
        height: 14px;
        border: 2px solid var(--checkbox-gray-100);
        border-radius: 2px;
    }

    input[type='checkbox']:hover {
        border-color: var(--checkbox-gray-hover);
    }

    input[type='checkbox']:checked {
        background-color: var(--green-100);
    }

    input[type='checkbox']::after {
        content: '';
        display: block;
        position: absolute;
        top: 15%;
        left: 35%;
        width: 2px;
        height: 4px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
/* /checkbox */

/* text-input */

    input[type='text'],
    textarea,
    select {
        border: 1px solid var(--gray-4-100);
        border-radius: 4px;
        margin-top: 8px;
        margin-left: 22px;
        padding: 8px;
        outline: none;
        width: calc(100% - 24px);
        background-color: transparent;
    }
    
    input[type='text'],
    textarea {
        margin-bottom: 12px;
    }

    textarea {
        resize: none;
        height: 149px;
    }

    label {
        position: relative;
    }

    input.invalid + .error-msg {
        opacity: 1;
        transition: .7s;
    }

    .error-msg {
        position: absolute;
        right: 2px;
        bottom: -7px;
        display: block;
        margin-left: 24px;
        font-size: 12px;
        color: red;
        opacity: 0;
    }


/* /text-input */

.container {
    max-width: 1136px;
    width: 68.1%;
    margin: 0 auto;
}

/* button */

.btn {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 19.5px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-blue {
    background-color: var(--blue-100);
    color: white;
}

.btn-gray {
    background-color: rgba(239, 239, 239, 1);
    color: rgba(109, 110, 130, 1);
}

.cross-btn {
    position: absolute;
    right: 3%;
    color: var(--gray-5-54);
    cursor: pointer;
}

.cross-btn:hover {
    color: black;
}

.cross-btn__svg {
    width: 12px;
    height: 12px;
}

/* /button */

/* /global */

/* sidebar */
.sidebar {
    width: 13.125%;
    max-width: 252px;
    height: 100vh;
    background-color: white;
}

/* sidebar__header */
    .sidebar__header {
        display: flex;
        padding: 20px 30px 20px 20px;
        gap: 12px;
        align-items: center;
    }

    .sidebar__header__logo {
        width: 32px;
        height: 32px;
    }

    .sidebar__header__text-block {
        font-weight: 700;
    }

    .sidebar__header__developer {
        font-size: 14px;
        color: var(--gray-2-100);
        white-space: nowrap;
    }
/* /sidebar__header */

/* sidebar__list */
    .sidebar__list {
        overflow-y: scroll;
        max-height: 50%;
    }

    .sidebar__list-item {
        position: relative;
        padding: 6px 32px;
        font-weight: 500;
        cursor: pointer;
    }

    .sidebar__list-item.is-active {
        background-color: var(--light-blue-100);
        color: var(--blue-100);
    }

    .sidebar__list-item.is-active::before {
        content: '';
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        left: 8px;
        width: 10px;
        height: 10px;
        background-color: var(--blue-100);
        border-radius: 100%;
    }
    
    .list__remove {
        display: none;
        top: 50%;
        transform: translateY(-50%);
    }

    .sidebar__list-item.is-active .list__remove {
        display: inline-block;
    }
    
/* /sidebar__list */

/* sidebar__addList-block */
.sidebar__addList-block,
.sidebar__addList-block__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sidebar__addList-block {
    width: 100%;
    margin-top: 14px;
}

.sidebar__addList-block__input {
    position: relative;
    margin: 0 !important;
    margin-bottom: 12px !important;
}

.sidebar__addList-block__btn {
    margin-top: 10px;
    width: calc(100% - 24px);
}

.sidebar__addList-block__error-msg {
    right: 12px;
}
/* sidebar__addList-block */

/* sidebar__footer */
    .sidebar__footer {
        position: fixed;
        bottom: 0;
        display: flex;
        padding: 20px;
        align-items: center;
    }

    .sidebar__footer__logo {
        background-color: var(--gray-2-100);
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }

    .sidebar__footer__user {
        color: var(--gray-1-100);
        font-weight: 500;
        margin: 0 41px 0 8px;
    }

    .sidebar__footer__exit {
        cursor: pointer;
        color: var(--gray-2-100);
        width: 17px;
        height: 15px;
    }
/* /sidebar__footer */
/* /sidebar */

/* main */
main {
    max-width: 1668px;
    width: 86.875%;
    height: 100vh;
}
/* header */
    .header {
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .header__top {
        display: flex;
        gap: 6px;
        align-items: center;
        margin-bottom: 4px;
    }

    .header__top__menu {
        width: 12px;
        height: 12px;
    }

    .header__bot-text {
        font-size: 14px;
    }

    .header__btn-open-modal {
        margin: 24px 0;
    }

    .header__nav-link {
        font-size: 16px;
        margin-right: 24px;
        cursor: pointer;
    }

    .header__nav-link:hover {
        color: var(--blue-100);
    }

    .header__nav-link.is-active {
        position: relative;
        color: var(--blue-100);
    }

    .header__nav-link.is-active::after {
        position: absolute;
        content: '';
        background-color: var(--blue-100);
        width: 100%;
        height: 2px;
        border-radius: 4px;
        bottom: -4px;
        left: 0;
    }
/* /header */

/* modal */
    .addTask-modal {
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        z-index: 100;
        transition: .7s;
        background-color: rgba(38, 40, 55, 0.15);
    }

    .addTask-modal.is-active {
        top: 0;
        bottom: 0;
    }

    .addTask-modal-content {
        /* position: relative; */
        position: absolute;
        top: 204px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: 16px 24px 20px;
        z-index: 101;
        width: 479px;
        max-height: 520px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    
    .addTask-modal__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        border-bottom: 1px solid var(--border-100);
        padding-bottom: 16px;
        margin-bottom: 8px;
    }

    .addTask-modal__title {
        font-weight: 500;
    }

    .addTask-modal__close-btn {
        right: 0;   
    }

    .addTask__form {
        display: flex;
        flex-flow: column nowrap;
    }

    .addTask__form__name-input.invalid {
        position: relative;
        border-color: red;
    }

    .addTask__form__name-input.invalid::after {
        content: "Обов'язкове поле";
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: red;
        z-index: 10000;
        top: 0;
        left: 0;
        color: red;
    }

    .addTask__form__list-selector__option:hover {
        color: white;
        background-color: var(--light-50);
    }

    .addTask__form__deadline-label__svg,
    .addTask__form__name-label__svg,
    .addTask__form__desc-label__svg,
    .addTask__form__list-label__svg {
        margin-right: 8px;
    }

    .addTask-modal__close-btn__svg,
    .addTask__form__name-label__svg {
        width: 12px;
        height: 12px;
    }

    .addTask__form__deadline-label__svg,
    .addTask__form__desc-label__svg,
    .addTask__form__list-label__svg {
        width: 14px;
        height: 14px;
    }

    .addTask__form__btn-block {
        margin-top: 24px;
    }

    .addTask__form__btn {
        margin-right: 8px;
    }

/* /modal */

/* content */
    /* optional display */
        .content.show-all .task {
            display: block;
        }

        .content.show-unDone .task.done {
            display: none;
        }

        .content.show-done .task {
            display: none;
        }

        .content.show-done .task.done {
            display: block;
        }
    /* /optional display */

    /* loader */
        .loader-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(38, 40, 55, 0.15);
            z-index: 9000;
        }

        .loader,
        .loader:before,
        .loader:after {
        background: var(--blue-100);
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
        }

        .loader {
        color: var(--blue-100);
        text-indent: -9999em;
        margin: 88px auto;
        position: relative;
        font-size: 11px;
        transform: translateZ(0);
        animation-delay: -0.16s;
        z-index: 9999;
        }

        .loader:before,
        .loader:after {
        position: absolute;
        top: 0;
        content: '';
        }

        .loader:before {
        left: -1.5em;
        animation-delay: -0.32s;
        }
        .loader:after {
        left: 1.5em;
        }

        @keyframes load1 {
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }
        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
        }
    /* /loader */
    
    .task, 
    .task__body, 
    .task__remove {
        cursor: pointer;
    }

    .task {
        position: relative;
        background-color: white;
        border: 1px solid var(--border-100);
        border-radius: 4px;
        box-shadow: 2px 2px 2px 0px rgba(230, 237, 247, 1);
        overflow: hidden;
        margin-bottom: 20px;
    }

    .task::before {
        content: '';
        position: absolute;
        background-color: var(--gray-3-100);
        top: 0;
        width: 100%;
        height: 4px;
    }

    .task.hidden {
        display: none;
    }
    
    .task__deadline {
        display: flex;
        margin: 18px 0 25px 20px;
        gap: 9px;
        color: var(--gray-3-100);
    }


    .task.overdue::before {
        background-color: var(--red-100);
    }

    .task.overdue
    .task__deadline {
        color: var(--red-100);
    }

    .task.done::before {
        background-color: var(--green-100);
    }

    .task.done .task__deadline {
        color: var(--green-100);
    }

    .task__deadline-svg {
        width: 14px;
        height: 14px;
    }

    .task__body {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        margin: 0 0 20px 20px;
    }

    .task__body-title {
        font-weight: 700;
        margin-bottom: 8px;
    }

    .task__body-desc {
        font-size: 12px;
    }

    .task__body-badge {
        position: absolute;
        font-size: 12px;
        color: white;
        font-weight: 600;
        border-radius: 5px;
        background-color: var(--blue-100);
        padding: 5px;
        right: 5px;
        bottom: -30%;
    }
/* /content */
/* /main */